---
import FairPrice from "../svg/fair_price.astro"
import Glass from "../svg/glass.astro"
---
<div class="bg-neutral-content py-12 px-12 mt-12">
  <div class="text-3xl font-bold text-center">
    Nuestros Productos
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 place-items-center mt-8">
    <div class="col-span-2 md:col-span-1 card bg-base-100 md:w-96 shadow-xl mb-14">
      <figure>
        <img
          src="/kefir_con_leche.jpeg"
          alt="Shoes" />
      </figure>
      <div class="card-body items-center text-center">
        <h2 class="card-title">Búlgaros de leche</h2>
        <p>Cultivos vivos para preparar tu propio yogur búlgaro en casa.</p>
        <p class="mt-4">
          Lo recomendable es usar 3 cucharaditas de Búlgaros de leche (aproximadamente 30 gramos) para un litro de leche.
          
          <span class="underline underline-offset-4">Use siempre leche entera sin preservantes ni reguladores de acidez</span>
        </p>

        <div class="join mt-6 text-lg font-medium">
          <FairPrice />
          <span class="ml-3">S/. 9 por cucharadita (aprox. 10g)</span>
        </div>
      </div>
    </div>

    <div class="col-span-2 md:col-span-1 card bg-base-100 md:w-96 shadow-xl mb-14">
      <figure>
        <img
          src="/3_botellas_de_kefir.jpeg"
          alt="Shoes" />
      </figure>
      <div class="card-body items-center text-center">
        <h2 class="card-title">Leche Kéfir artesanal</h2>
        <p>Bebida probiótica rica en nutrientes y microorganismos beneficiosos.</p>
        <p class="mt-4">
          Si es suu primera vez haciendo Kéfir tal vez quiera probar primero cómo es la leche Kéfir,
          obtendrá los mismos resultados pero sin todo el trabajo de mantener los búlgaros
        </p>
        <div class="join mt-6 text-lg font-medium">
          <Glass />
          <span class="ml-3">S/. 12 por botella de vidrio de 900ml</span>
        </div>
      </div>
    </div>
    
    <div class="col-span-2 card md:card-side bg-base-100 shadow-xl">
      <figure>
        <img
          src="https://img.daisyui.com/images/stock/photo-1494232410401-ad00d5433cfa.webp"
          alt="Album" />
      </figure>
      <div class="card-body">
        <h2 class="card-title">Kit de inicio Kéfir</h2>
        <p>Personaliza tu kit para comenzar a hacer tu propio Kéfir en casa.</p>
        <div class="card-actions justify-end">
          <button class="btn btn-primary">Listen</button>
        </div>
      </div>
    </div>
  </div>

</div>