<div class="bg-neutral-content py-12 px-12 mt-12">
  <div class="text-3xl font-bold text-center">
    Nuestros Productos
  </div>
  
  <div class="md:flex md:justify-around mt-8">
  <!-- <div class="mt-8"> -->
    <div class="card bg-base-100 md:w-96 shadow-xl mb-14">
      <figure>
        <img
          src="/kefir_con_leche.jpeg"
          alt="Shoes" />
      </figure>
      <div class="card-body">
        <h2 class="card-title">Búlgaros de leche</h2>
        <p>Cultivos vivos para preparar tu propio yogur búlgaro en casa.</p>
        <!-- <div class="card-actions justify-end">
          <button class="btn btn-primary">Buy Now</button>
        </div> -->
      </div>
    </div>

    <div class="card bg-base-100 md:w-96 shadow-xl mb-14">
      <figure>
        <img
          src="/3_botellas_de_kefir.jpeg"
          alt="Shoes" />
      </figure>
      <div class="card-body">
        <h2 class="card-title">Leche Kéfir artesanal</h2>
        <p>Bebida probiótica rica en nutrientes y microorganismos beneficiosos.</p>
        <!-- <div class="card-actions justify-end">
          <button class="btn btn-primary">Buy Now</button>
        </div> -->
      </div>
    </div>
  </div>
</div>